{% load get_class %}
{% csrf_token %}
{% for formset in formsets %}
    {# render formset (management form and any existing form instanes #}
    {{ formset.management_form }}

    {% for form in formset.forms %}
        {# use form template if provided, else just render as_p #}
        {% if formset.template_name %}
            {% include formset.template_name with form=form %}
        {% else %}
            <div class="form-{{ formset.form|get_class }} form multiformset-form">
                {{ form.as_p }}
            </div>
        {% endif %}
    {% endfor %}

    {# stores empty form for javascript #}
    <div style="display:none;" data-form-class="{{ formset.form|get_class }}" id="{{ formset.form|get_class }}-form_template" class="form_template">
        {# use form template if provided, else just render as_p #}
        {% if formset.template_name %}
            {% include formset.template_name with form=formset.empty_form %}
        {% else %}
            <div class="form-{{ formset.form|get_class }} form multiformset-form">
                {{ formset.empty_form.as_p }}
            </div>
        {% endif %}
    </div>
{% endfor %}